[{:block/name "20221111",
  :block/created-at 1668547356705,
  :block/updated-at 1668547356705}
 {:block/name "20221114",
  :block/created-at 1668547356822,
  :block/updated-at 1668547782083}
 {:block/name "20221115",
  :block/created-at 1668496682207,
  :block/updated-at 1668549227696}
 {:block/name "20221116",
  :block/created-at 1668546601093,
  :block/updated-at 1668546601093}
 {:block/name "a",
  :block/created-at 1668209011712,
  :block/updated-at 1668209011712}
 {:block/name "aor",
  :block/created-at 1668547356901,
  :block/updated-at 1668547356901}
 {:block/name "archive",
  :block/created-at 1668547357912,
  :block/updated-at 1668547357912}
 {:block/name "archived",
  :block/created-at 1668547358154,
  :block/updated-at 1668547358154}
 {:block/name "area of responsibility",
  :block/created-at 1668547358212,
  :block/updated-at 1668547358212}
 {:block/name "area_of_responsibility",
  :block/created-at 1668547358212,
  :block/updated-at 1668547358212}
 {:block/name "areas of responsibility",
  :block/created-at 1668547357909,
  :block/updated-at 1668547357909}
 {:block/name "b",
  :block/created-at 1668209011712,
  :block/updated-at 1668209011712}
 {:block/name "bal",
  :block/created-at 1668547356798,
  :block/updated-at 1668547356798}
 {:block/name "bal/sam",
  :block/created-at 1668547356797,
  :block/updated-at 1668547356797}
 {:block/name "botany",
  :block/created-at 1668547357498,
  :block/updated-at 1668547357498}
 {:block/name "c",
  :block/created-at 1668209011711,
  :block/updated-at 1668209011711}
 {:block/name "canceled",
  :block/created-at 1668209011711,
  :block/updated-at 1668209011711}
 {:block/name "cancelled",
  :block/created-at 1668209011712,
  :block/updated-at 1668209011712}
 {:block/name "card",
  :block/created-at 1668209011711,
  :block/updated-at 1668209011711}
 {:block/name "coding",
  :block/created-at 1668547358184,
  :block/updated-at 1668547358184}
 {:block/name "coding/design",
  :block/created-at 1668547358304,
  :block/updated-at 1668547358304}
 {:block/name "contents",
  :block/created-at 1668441153995,
  :block/updated-at 1668441153995}
 {:block/name "core",
  :block/created-at 1668547356811,
  :block/updated-at 1668547356811}
 {:block/name "databricks",
  :block/created-at 1668440860051,
  :block/updated-at 1668459487236}
 {:block/name "databricks/delta_live_tables",
  :block/created-at 1668543389893,
  :block/updated-at 1668543389893}
 {:block/name "databricks/file_system",
  :block/created-at 1668547357868,
  :block/updated-at 1668547357868}
 {:block/name "databricks_data_engineering_training",
  :block/created-at 1668547356816,
  :block/updated-at 1668547356816}
 {:block/name "dev_ops",
  :block/created-at 1668547357554,
  :block/updated-at 1668547357554}
 {:block/name "doing",
  :block/created-at 1668209011712,
  :block/updated-at 1668209011712}
 {:block/name "done",
  :block/created-at 1668209011711,
  :block/updated-at 1668209011711}
 {:block/name "error_checking",
  :block/created-at 1668547357860,
  :block/updated-at 1668547357860}
 {:block/name "favorites",
  :block/created-at 1668209011711,
  :block/updated-at 1668209011711}
 {:block/name "finances",
  :block/created-at 1668547357544,
  :block/updated-at 1668547357544}
 {:block/name "flashcards",
  :block/created-at 1668547356806,
  :block/updated-at 1668547356806}
 {:block/name "gardening",
  :block/created-at 1668547357496,
  :block/updated-at 1668547357496}
 {:block/name "health",
  :block/created-at 1668547357543,
  :block/updated-at 1668547357543}
 {:block/name "home",
  :block/created-at 1668547357913,
  :block/updated-at 1668547357913}
 {:block/name "in-progress",
  :block/created-at 1668209011711,
  :block/updated-at 1668209011711}
 {:block/name "interior_design",
  :block/created-at 1668547357554,
  :block/updated-at 1668547357554}
 {:block/name "later",
  :block/created-at 1668209011711,
  :block/updated-at 1668209011711}
 {:block/name "learning",
  :block/created-at 1668547357024,
  :block/updated-at 1668547357024}
 {:block/name "logseq",
  :block/created-at 1668547356703,
  :block/updated-at 1668547356703}
 {:block/name "logseq/cloze",
  :block/created-at 1668547356702,
  :block/updated-at 1668547356702}
 {:block/name "meta",
  :block/created-at 1668547357472,
  :block/updated-at 1668547882094}
 {:block/name "note_taking",
  :block/created-at 1668547357556,
  :block/updated-at 1668547357556}
 {:block/name "now",
  :block/created-at 1668209011711,
  :block/updated-at 1668209011711}
 {:block/name "odp_integration",
  :block/created-at 1668439838361,
  :block/updated-at 1668537732599}
 {:block/name "odp_integration/documentation",
  :block/created-at 1668547357068,
  :block/updated-at 1668547357068}
 {:block/name "odp_integration/documentation/odp_jobapiutils",
  :block/created-at 1668547357689,
  :block/updated-at 1668547357689}
 {:block/name "odp_integration/documentation/runner_notebook_child",
  :block/created-at 1668547357686,
  :block/updated-at 1668547357686}
 {:block/name "odp_integration/documentation/runner_notebook_parent",
  :block/created-at 1668547357637,
  :block/updated-at 1668547357637}
 {:block/name "odp_integration/step_function",
  :block/created-at 1668463063260,
  :block/updated-at 1668463063260}
 {:block/name "odp_integration/step_function/decrypt_file",
  :block/created-at 1668461941530,
  :block/updated-at 1668463549852}
 {:block/name "odp_integration/step_function/encrypt_file",
  :block/created-at 1668547356951,
  :block/updated-at 1668547356951}
 {:block/name
  "odp_integration/step_function/generate_encryption_keypair",
  :block/created-at 1668547357714,
  :block/updated-at 1668547357714}
 {:block/name "odp_integration/step_function/get_df",
  :block/created-at 1668547357693,
  :block/updated-at 1668547357693}
 {:block/name "odp_integration/step_function/send_to_teams",
  :block/created-at 1668547357703,
  :block/updated-at 1668547357703}
 {:block/name "odp_integration/step_function/upload_to_s3",
  :block/created-at 1668547357070,
  :block/updated-at 1668547357070}
 {:block/name "odp_integration/step_function/write_df",
  :block/created-at 1668547357696,
  :block/updated-at 1668547357696}
 {:block/name "odp_integration/todo",
  :block/created-at 1668547357605,
  :block/updated-at 1668547357605}
 {:block/name "odp_integration/variable",
  :block/created-at 1668547356949,
  :block/updated-at 1668547356949}
 {:block/name "odp_integration/variable/basic_df",
  :block/created-at 1668547357789,
  :block/updated-at 1668547357789}
 {:block/name "odp_integration/variable/d_file_name",
  :block/created-at 1668547357400,
  :block/updated-at 1668547357400}
 {:block/name "odp_integration/variable/d_file_path",
  :block/created-at 1668547357398,
  :block/updated-at 1668547357398}
 {:block/name "odp_integration/variable/e_file_name",
  :block/created-at 1668547356947,
  :block/updated-at 1668547356947}
 {:block/name "odp_integration/variable/e_file_path",
  :block/created-at 1668547356945,
  :block/updated-at 1668547356945}
 {:block/name "odp_integration/variable/file_name",
  :block/created-at 1668547356938,
  :block/updated-at 1668547356938}
 {:block/name "odp_integration/variable/file_path",
  :block/created-at 1668547356935,
  :block/updated-at 1668547356935}
 {:block/name "odp_integration/variable/file_type",
  :block/created-at 1668547356941,
  :block/updated-at 1668547356941}
 {:block/name "odp_integration/variable/key_comment",
  :block/created-at 1668547358268,
  :block/updated-at 1668547358268}
 {:block/name "odp_integration/variable/key_name",
  :block/created-at 1668547356932,
  :block/updated-at 1668547356932}
 {:block/name "odp_integration/variable/key_path",
  :block/created-at 1668547356929,
  :block/updated-at 1668547356929}
 {:block/name "odp_integration/variable/key_user",
  :block/created-at 1668547358270,
  :block/updated-at 1668547358270}
 {:block/name "odp_integration/variable/s3_bucket",
  :block/created-at 1668547357053,
  :block/updated-at 1668547357053}
 {:block/name "odp_integration/variable/s3_file_name",
  :block/created-at 1668547357061,
  :block/updated-at 1668547357061}
 {:block/name "odp_integration/variable/s3_file_path",
  :block/created-at 1668547357058,
  :block/updated-at 1668547357058}
 {:block/name "odp_integration/variable/string_query",
  :block/created-at 1668547358002,
  :block/updated-at 1668547358002}
 {:block/name "odp_integration/variable/teams_file_name",
  :block/created-at 1668547358082,
  :block/updated-at 1668547358082}
 {:block/name "odp_integration/variable/teams_file_path",
  :block/created-at 1668547358079,
  :block/updated-at 1668547358079}
 {:block/name "odp_jobapiutils",
  :block/created-at 1668547357977,
  :block/updated-at 1668547357977}
 {:block/name "odp_runner_notebook_child",
  :block/created-at 1668547357633,
  :block/updated-at 1668547357633}
 {:block/name "odp_runner_notebook_parent",
  :block/created-at 1668547357634,
  :block/updated-at 1668547357634}
 {:block/name "odp_step_functions",
  :block/created-at 1668547358037,
  :block/updated-at 1668547358037}
 {:block/name "people",
  :block/created-at 1668547358232,
  :block/updated-at 1668547358232}
 {:block/name "photography",
  :block/created-at 1668547357108,
  :block/updated-at 1668547357108}
 {:block/name "pkm",
  :block/created-at 1668547357906,
  :block/updated-at 1668547357906}
 {:block/name "productivity",
  :block/created-at 1668547356903,
  :block/updated-at 1668547356903}
 {:block/name "project",
  :block/created-at 1668547357355,
  :block/updated-at 1668547357355}
 {:block/name "projects",
  :block/created-at 1668547357910,
  :block/updated-at 1668547357910}
 {:block/name "python",
  :block/created-at 1668547357550,
  :block/updated-at 1668547357550}
 {:block/name "python/calling_functions_by_string",
  :block/created-at 1668547357859,
  :block/updated-at 1668547357859}
 {:block/name "python/decorator_syntax",
  :block/created-at 1668547357861,
  :block/updated-at 1668547357861}
 {:block/name "python/dictionary_for_variable_passing",
  :block/created-at 1668547357862,
  :block/updated-at 1668547357862}
 {:block/name "python/spark",
  :block/created-at 1668547357867,
  :block/updated-at 1668547357867}
 {:block/name "readme",
  :block/created-at 1668547356901,
  :block/updated-at 1668547356901}
 {:block/name "resource",
  :block/created-at 1668547356814,
  :block/updated-at 1668548422441}
 {:block/name "resource/atomic",
  :block/created-at 1668548182674,
  :block/updated-at 1668548182674}
 {:block/name "resource/inbox",
  :block/created-at 1668548124698,
  :block/updated-at 1668548124698}
 {:block/name "resource/processing",
  :block/created-at 1668548265943,
  :block/updated-at 1668548265943}
 {:block/name "resources",
  :block/created-at 1668547357473,
  :block/updated-at 1668547357473}
 {:block/name "spouse",
  :block/created-at 1668547357545,
  :block/updated-at 1668547357545}
 {:block/name "syntax",
  :block/created-at 1668547358185,
  :block/updated-at 1668547358185}
 {:block/name "todo",
  :block/created-at 1668209011712,
  :block/updated-at 1668539549603}
 {:block/name "transhumanism",
  :block/created-at 1668547357004,
  :block/updated-at 1668547357004}
 {:block/name "travel",
  :block/created-at 1668547357545,
  :block/updated-at 1668547357545}
 {:block/name "up",
  :block/created-at 1668547356902,
  :block/updated-at 1668547356902}
 {:block/name "wait",
  :block/created-at 1668209011711,
  :block/updated-at 1668209011711}
 {:block/name "waiting",
  :block/created-at 1668209011711,
  :block/updated-at 1668209011711}
 {:block/name "work",
  :block/created-at 1668440571917,
  :block/updated-at 1668459348776}
 {:block/name "work/meeting",
  :block/created-at 1668542300229,
  :block/updated-at 1668542300229}
 {:block/name "work_project",
  :block/created-at 1668547357448,
  :block/updated-at 1668547357448}
 {:block/name "zettelkasten",
  :block/created-at 1668548202361, 
  :block/updated-at 1668548202361}]
